<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head">
<meta charset="UTF-8">
</head>
<style>
body, html {
	 margin: 0;
	 background-image: url("img/fondo_index.jpg");
	 height: 100%; 
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: cover;
}
h1 {
	font-size: 2.3rem;
    margin-top: 15px;
    margin-bottom: 15px;
}
</style>
<body>
	<div class="container" align="center">
		<div style="padding-top: 100px;">
			<div style="border: 1px solid black;background: rgba(212, 212, 212, 0.84); width: 400px">
				<div style="padding-top: 10px;">
					<img style="width: 250px;height: 250px;" src="img/logo.png" class="img img-responsive img-rounded center-block"/>
				</div>
 				<h1 class="logo-caption" align="center"><span class="tweak">I</span>nicio de Sesión</h1>
                <form method="POST" role="form" id="login" class="form" th:action="@{/login}">
                	<div align="center">
                    	<div>
                        	<input style="width: 200px;border-radius: 10px;" type="text" name="usuario" placeholder="Usuario" class="form-control" autocomplete="off" required/>
                        </div>
	                    <div style="padding-top: 5px;">
	                        <input style="width: 200px;border-radius: 10px;" type="password" name="contrasenia" placeholder="Contraseña" class="form-control" autocomplete="off" required/>
	                    </div>
             		</div>
                    <br>
                    <div align="center" style="margin-bottom: 10px;">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Ingrsar </button>
                    </div>
				</form>
                <div th:if="${param.error}" class="alert alert-danger" role="alert">
		            Usuario y/o contraseña incorrectos.
		        </div>
		        <div th:if="${param.logout}" class="alert alert-success" role="alert">
		            Ha cerrado sesión exitosamente.
		        </div>
            </div>
			</div>
		</div>
	</div>
</body>
</html>