<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout::head">
<meta charset="UTF-8">
</head>
<script type="text/javascript">
$(document).ready(function(){

    var mensaje = $("#mensaje").val();

    if(mensaje != ""){
        alert(mensaje);
    }
});
</script>
<body>
	<header th:replace="layout/layout::header"></header>
	<div class="container">
		<div class="row">
			<div align="center" style="margin-top: 40px;">
				<a class="btn btn-primary" th:href="@{/menu_delincuencia}" title="Ir la página anterior">VOLVER</a>
			</div>
			
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Sentencias</h3>
                <a class="btn_agregar" type="button" sec:authorize="hasRole('Administrador')" th:href="@{agregar/}"><span class="text" style="margin: 5px;">Agregar Sentencia</span></a>
                <div class="pull-right">
                    <button class="btn_tabla btn-filter"><i class="fas fa-filter"></i>Filtro</button>
                </div>
            </div>

            <table class="table" >
                <thead>
                    <tr class="filters">
                        <th><input style="font-weight: bold;" type="text" class="form-control_tabla" placeholder="Delincuente" disabled></th>
                        <th><input style="font-weight: bold;" type="text" class="form-control_tabla" placeholder="Asalto" disabled></th>
                        <th><input style="font-weight: bold;" type="text" class="form-control_tabla" placeholder="Juez" disabled></th>
                        <th><input style="font-weight: bold;" type="text" class="form-control_tabla" placeholder="Inicio condena" disabled></th>
                        <th><input style="font-weight: bold;" type="text" class="form-control_tabla" placeholder="Fin condena" disabled></th>
                        <th sec:authorize="hasRole('Administrador')"><span style="font-weight: bold; font-size: 14px;">Acciones</span></th>
                    </tr>
                </thead>
                
                <tbody>
                	<tr th:each="sentencia: ${sentencias}">
		                <td th:text="${sentencia.delito.delincuente.persona.apellido}+ ', ' +${sentencia.delito.delincuente.persona.nombre}"></td>
		                <td th:text="${sentencia.delito.sucursal.entidad.descripcion}+', '+${sentencia.delito.sucursal.descripcion}+', '+${#dates.format(sentencia.delito.fechadelito,'dd/MM/yyyy')}"></td>
                        <td th:text="${sentencia.juez.persona.apellido}+ ', ' +${sentencia.juez.persona.nombre}"></td>
		                <td th:text="${#dates.format(sentencia.fechainicio,'dd/MM/yyyy')}"></td>
		                <td th:text="${#dates.format(sentencia.fechafin,'dd/MM/yyyy')}"></td>
                        <td sec:authorize="hasRole('Administrador')">
		                	<a class="btn" style="padding: 0;" id="editar" th:href="@{editar/} + ${sentencia.id}"><img th:src="@{/img/editar.png}" width="30px" height="30px" ></a>
                            <a class="btn" style="padding: 0;" id="eliminar" onclick="return confirm('¿Está seguro que desea eliminar la sentencia?')" th:href="@{eliminar/} + ${sentencia.id}"><img th:src="@{/img/eliminar.png}" width="30px" height="30px"></a>
		                </td>
		            </tr>
                </tbody>
            </table>
            <input hidden="hidden" name="mensaje" id="mensaje" th:value="${mensaje}">
        </div>
    </div>
	</div>
	
	<footer th:replace="layout/layout::footer"></footer>
</body>
</html>