<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head">
<meta charset="UTF-8">
</head>
<body>
<header th:replace="layout/layout::header"></header>
<br>
<br>
	<div class="container">
		<div class="row">
			<div class="panel-body">
				<div align="center">
					<img th:src="@{/img/error_403.png}" width="500" height="500">
					<h4>No tiene permiso para acceder a esta página</h4>
					<br>
					<a class="btn btn-primary" onclick="window.history.back()">Regresar</a>
				</div>
			</div>
			</div>
	    </div>
	</div>
	<footer th:replace="layout/layout::footer"></footer>
</body>
</html>